<h1 *ngIf="movies">

  {{movies.length}} movies
  <p>
</h1>
<a href="#" class="smallLink" (click)="editModeToggle(!editMode)">{{editMode ? 'Turn off edit' : 'Edit'}} </a>



<h1 *ngIf="!movies">loading movies...</h1>
<div class="row">
  <div class="col-md-6">

    <div class="movieListDiv" *ngFor="let  m of movies">
      <span class="title">{{m.title}} </span>
      <br/> Date Watched: {{m.dateWatched |date:'shortDate' }}
      <br/>Rating: {{m.rating}}
      <br/> Watch Again: {{m.watchAgain}}
      <br/> {{m.thiss}}
      <span *ngIf="editMode">
      <br/>ID: {{m._id}}
      <br/>
     <a [routerLink]="['/edit-movie', m._id]">Edit</a>
      <br/>
        <button (click)="deleteMovie(m)">Delete</button>
      </span>
    </div>
  </div>
</div>