 
<div class="jumbotron">
<h1>Welcome</h1>
<p class="lead">Indianapolis Colts demo web app!</p>
</div>

 <div class="row">
    <div class="col-sm-4">
      <h2>Player information</h2>

        <p class="lead">
          Information about all players. Current rostered player, amateur players, and opponents can be viewed
          <a routerLink="/playerlist">here</a>.
        </p>
    </div>
 

    <div class="col-sm-4">
      <h2>Scouting Reports</h2>

        <p class="lead">
          Professional and amateur scouting 
          <a routerLink="/scouts">reports</a>.
        </p>
    </div>

    <div class="col-sm-4">
        <h2>Draft information</h2>
  
          <p class="lead">
            Information about the draft
            <a routerLink="/scouts">draft</a>.
          </p>
    </div>
</div>
<div class="row" style="margin-top: 20px;"> 
    <div class="col-sm-4">
        <h2>Medical Information</h2>
  
          <p class="lead">
            Click <a routerLink="/medical">here</a> for player medical information.
            
          </p>
      </div>
 </div>