 
 

 <div class="row">
     
    <div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
        <h3>Movies</h3>
        
      </div>
        <div class="panel-body">
         
            View all the movies I watched <a routerLink="/movielist">here</a>.
        
        </div>
        <div class="panel-body">
         
          View all the movies I want to watch <a [routerLink]="['/movielist']" [queryParams]="{toWatch:'true'}">here</a>.
      
      </div>
      </div>
    </div>

     
    <div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
        <h3>Add New Movie</h3>
        
      </div>
        <div class="panel-body">
         
             <a routerLink="/add-movie">Add</a>
        
        </div>
      </div>
    </div>
  </div>
  