 <div style="float:left">
    <img src="/assets/images/colt_icon.jpg" height="70" width="70" style="padding: 10px 10px 10px"/> <span style="left:-40;top:10px;font-size:40px;color:darkblue; position:relative">Colts</span>
</div>
<div style="float:right; position:relative; right:40px; top:25px">Login</div>
<div style="clear:both"></div>
<div id="custom-bootstrap-menu-top" class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav navbar-left">
                        <li><a href="#" routerLink="/home">Home</a>
                        </li>
                    <li><a href="#" routerLink="/playerlist">Players</a>
                    </li>
                    <li><a href="#" routerLink="/playerstack">Player Stack</a>
                    </li>
                    <li><a href="#" routerLink="/scouts">Scout</a>
                    </li>
                    <li><a href="#" routerLink="/medical">Medical</a>
                    </li>
                    <li><a href="#" routerLink="/reports">Reports</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- BOTTOM HEADER 
    <div id="custom-bootstrap-menu-bottom" class="navbar navbar-default " role="navigation">
            <div class="container-fluid">
                 
                <div class="collapse navbar-collapse navbar-menubuilder">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="#" target="_blank">Players</a>
                        </li>
                        <li><a href="#" target="_blank">Scouts</a>
                        </li>
                        <li><a href="#" target="_blank">Coaches</a>
                        </li>
                        <li><a href="#" target="_blank">Trainers</a>
                        </li>
                        <li><a href="#">Conditioning</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    -->