.header-wrap {
    width: 940px;
    margin: auto;
    position: relative;
    margin-top: 10px;
}

#logo {
    background: url(/assets/images/colts.png) no-repeat;
    background-size: 150px;
    height: 200px;
    width: 229px;
    
}

