<div style="float:left">
    <img src="/assets/images/movie_logo.jpg" height="120" width="120" style="padding: 10px 10px 10px" />
    <span style="left:-40;top:10px;font-size:60px;color:darkblue; position:relative">Movies</span>

    <h3 style="margin-left:130px; margin-top:-20px;">
        <a routerLink="/movielist">List Movies</a>|
        <a routerLink="/add-movie">Add Movie</a>
    </h3>
</div>
 
<div style="float:right; position:relative; right:40px; top:25px">Login</div>
<div style="clear:both"></div>