#custom-bootstrap-menu-top.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu-top.navbar-default {
    font-size: 18px;
    background-color: rgba(35, 53, 158, 1);
    border-width: 1px;
     
}
#custom-bootstrap-menu-top.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(35, 53, 158, 1);
}
#custom-bootstrap-menu-top.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu-top.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(25, 36, 117, 1);
}
#custom-bootstrap-menu-top.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu-top.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu-top.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu-top.navbar-default .navbar-toggle {
    border-color: ffffff;
}   
#custom-bootstrap-menu-top.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu-top.navbar-default .navbar-toggle:focus {
    background-color: ffffff;
}
#custom-bootstrap-menu-top.navbar-default .navbar-toggle .icon-bar {
    background-color: ffffff;
}
#custom-bootstrap-menu-top.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu-top.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #23359e;
}

/* BOTOM BAR */

#custom-bootstrap-menu-bottom.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu-bottom.navbar-default {
    font-size: 14px;
    background-color: #808080;
    border-width: 1px;
    
}
#custom-bootstrap-menu-bottom.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: #808080);
}
#custom-bootstrap-menu-bottom.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu-bottom.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: #808080;
}
#custom-bootstrap-menu-bottom.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu-bottom.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu-bottom.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);

}
#custom-bootstrap-menu-bottom.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#custom-bootstrap-menu-bottom.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu-bottom.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#custom-bootstrap-menu-bottom.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#custom-bootstrap-menu-bottom.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu-bottom.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #808080;
}

/* MINE to make top and bottom flushed */
#custom-bootstrap-menu-top.navbar {
    margin-bottom: 0px;
}
#custom-bootstrap-menu-top.navbar-default{
    border-color: transparent;
}
#custom-bootstrap-menu-bottom.navbar-default{
    border-color: transparent;
}
/* MINE to make bottom bar smaller*/
#custom-bootstrap-menu-bottom .navbar-nav>li>a {
line-height: 5px;
padding: 12px 20px
}